<div class="container">
    <div class="div-container">
        <br><br>
        <div class="row">
            <div class="col s12 m12 l6">
                <div input-field>
                    <select material-select>
                        <option>Enero</option>
                        <option>Febrero</option>
                        <option>Marzo</option>
                    </select>
                    <label>Mes:</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l4">
                <ul id="task-card" class="collection with-header">
                    <li class="collection-header cyan">
                        <h4 class="task-card-title">Monserrat</h4>
                    </li>
                    <li class="collection-item dismissable" style="touch-action: pan-y;">
                        <input id="task1" type="checkbox">
                        <label for="task1" style="text-decoration: none;">Del sur
                        </label>
                    </li>
                    <li class="collection-item dismissable" style="touch-action: pan-y;">
                        <input id="task2" type="checkbox">
                        <label for="task2" style="text-decoration: none;">Anda
                        </label>
                    </li>
                </ul>
            </div>

            <div class="col s12 m12 l4">
                <ul id="task-card" class="collection with-header">
                    <li class="collection-header cyan">
                        <h4 class="task-card-title">Zonte</h4>
                    </li>
                    <li class="collection-item dismissable" style="touch-action: pan-y;">
                        <input id="task3" type="checkbox">
                        <label for="task3" style="text-decoration: none;">Del sur
                        </label>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>