<div class="container">
    <div class="div-container">
        <br><br>
        <div class="row">
            <div class="col s12 m12 l4">
                <div input-field>
                    <select material-select ng-model="selectMonth.value" ng-change="searchInvoicesByDate()">
                        <option ng-repeat="(id, month) in selectMonth.choices" value="{{ id }}">{{ month }}</option>
                    </select>
                    <label>Month:</label>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div input-field>
                    <select material-select ng-model="selectYear.value" ng-change="searchInvoicesByDate()">
                        <option ng-repeat="(id, year) in selectYear.choices" value="{{ year }}" >{{ year }}</option>
                    </select>
                    <label>Year:</label>
                </div>
            </div>
        </div>

        <div class="card-panel light-blue lighten-4">
            <div class="row">
                <div class="col s12 m12 l3">
                    <i class="large material-icons promo-img">feedback</i>
                </div>
                <div class="col s12 m12 l3">
                        <p class="promo-caption">Pending: ${{ totalPending }}</p>
                </div>
                <div class="col s12 m12 l3">
                        <p class="promo-caption">Paid: ${{ totalPaid }}</p>
                </div>
                <div class="col s12 m12 l3">
                        <p class="promo-caption">TOTAL: ${{ total }}</p>
                </div>
            </div>
        </div>

        <div ng-repeat="category in categories">
            <h2 class="header">{{category.name}}</h2>

            <div class="row">
                <div class="col s12 m12 l4" ng-repeat="reminder in collectionReminders | filter: category._id">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ reminder.title }}</span>
                            <span class="badge white-text red">last day to pay: {{ reminder.lastDayToPay }}</span>
                            <br>
                            <p>{{ reminder.note }}</p>
                            <p ng-show="reminder.aproxAmount" class="right-align">Aprox $ {{ reminder.aproxAmount }}</p>
                        </div>
                        <div class="card-action">
                            <a ng-click="openInvoiceInit(category._id, reminder._id)" data-target="openInvoice" modal>Open</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l4" ng-repeat="invoice in collectionInvoices | filter: category._id">
                    <div class="card lime lighten-3">
                        <div class="card-content">
                            <span class="card-title red-text">{{ invoice.title }}</span>
                            <span class="badge blue white-text">{{ invoice.status }}</span>
                            <p ng-show="invoice.amount">Amount:  ${{ invoice.amount }}</p>
                            <p ng-show="invoice.datePaid">Paid on: {{ invoice.datePaid }}</p>
                            <p ng-show="invoice.note">Note: {{ invoice.note }}</p>
                        </div>
                    </div>
                </div>

                <span ng-show="collectionReminders.length == 0 && collectionInvoices.length == 0">There are no Invoices</span>
            </div>

        </div>
        <span ng-show="categories.length == 0">There are no categories</span>
    </div>
</div>

<div id="openInvoice" class="modal">
    <div class="modal-content">
        <h4>Invoice</h4>
        <form ng-submit="saveInvoice()" name="form.openInvoice" id="openInvoiceForm" novalidate>
            <input id="reminderId" type="hidden" ng-model="openInvoice.reminderId" />
            <input id="categoryId" type="hidden" ng-model="openInvoice.categoryId" />
            <input id="month" type="hidden" ng-model="openInvoice.month" />
            <input id="year" type="hidden" ng-model="openInvoice.year" />
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" input-date id="datePaid" format="yyyy-mm-dd" ng-model="openInvoice.datePaid" required>
                    <label for="datePaid">Payment date</label>
                </div>
                <div class="input-field col s6">
                    <input id="amount" type="text" ng-model="openInvoice.amount" />
                    <label for="amount"> Amount $</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="note" class="materialize-textarea" ng-model="openInvoice.note"></textarea>
                    <label for="note">Note</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" form="openInvoiceForm" class=" modal-action modal-close waves-effect waves-green btn-flat" value="Add" ng-disabled="form.openInvoice.$invalid">
        <a href="#" ng-click="cleanOpenInvoiceForm()" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>